.Menu {
      font-size: 0.5em;
      height: 5em;
}

.Item {
      height: 5em;
      transform: translateY(-50%);
      -ms-transform: translateY(-50%);
      -webkit-transform: translateY(-50%);
      color: #fff;
}

.Item-Hover {
      height: 5em;
      transform: translateY(-50%);
      -ms-transform: translateY(-50%);
	-webkit-transform: translateY(-50%);
      color:#fff;
}

.Float-Item {
      color:#fff;
      height: 5em;
      transform: translateY(-20%);
      /* -ms-transform: translateY(-30%);
	-webkit-transform: translateY(-30%); */
}